#header-wrapper {
    background-color: #004AAD;
}
.searchbox {
    border: 1px solid #e0d4e7;
    background: #2179ec;
}

#sidebar {
    background-color: #002657;
}

#body h1 {
    color: #000;
}

#body h2 {
    color: #000;
}

body.dark-mode, 
body.dark-mode main *,
body.dark-mode h1 *,
body.dark-mode h2 *,
body.dark-mode #body *{
    background: rgb(45, 45, 45);
    color: #f5f5f5;
}

body.dark-mode #header-wrapper {
    background: #222;
}

body.dark-mode #sidebar {
    background: #333;
}

body.dark-mode .highlight {
    background: #222;
    color:#2179ec !important;
}

body.dark-mode .nav-next {
    background: #333 !important;
}

body.dark-mode .nav-prev {
    background: #333!important;
}

body.dark-mode #footer a {
    color:#2179ec !important;
}