#header-wrapper {
    background-color: #004AAD;
}
}
.searchbox {
    border: 1px solid #e0d4e7;
    background: #2179ec;
}

#sidebar {
    background-color: #002657;
}

#body h1 {
    color: #000;
}

#body h2 {
    color: #000;
}