<!-- Partial intended to be overwritten with tags loaded at the end of the page loading (usually for Javascript) 
<script>
    console.log("running some javascript");
    
</script>
-->

<script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.17.1/firebase-app.js";
    import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.17.1/firebase-analytics.js";
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries
  
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
      apiKey: "AIzaSyAxrh_pkFQKu4iNBUW4ZcKLK1IjPIMKoTA",
      authDomain: "frczero-c27d3.firebaseapp.com",
      projectId: "frczero-c27d3",
      storageBucket: "frczero-c27d3.appspot.com",
      messagingSenderId: "593871872736",
      appId: "1:593871872736:web:8f2fd90823ed387efba685",
      measurementId: "G-ML6YNLPMR3"
    };
  
    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const analytics = getAnalytics(app);
  </script>
